<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<!--<suite name="Suite1" verbose="1">-->
    <!--<test name="Regression1">-->
        <!--<classes>-->
            <!--<class name="TestNG_Package.First"/>-->
            <!--<class name="TestNG_Package2.Second"/>-->
        <!--</classes>-->
    <!--</test>-->
<!--</suite>-->



<suite name="Suite1" verbose="1" >
    <test name="Regression2"   >
        <packages>
            <package name="TestNG_Package2" />
        </packages>
    </test>
</suite>