<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="D:/JAVA+HTML/JAVA/Appium_Training/src/test/java/Suite/TestNG_1Test.java">
        <classes>
            <class name="Suite.TestNG_3Test">

            <methods>
                <include name="OpeningBrowser"/>
            </methods></class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="D:/JAVA+HTML/JAVA/Appium_Training/src/test/java/Suite/TestNG_3Test.java">
    <classes>
        <class name="Suite.TestNG_3Test">
            <methods>
            <include name="OpeningBrowser"/>
        </methods>
        </class>
    </classes>
</test>
</suite>